@utility touch-hitbox {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    /* configurable */
    min-width: var(--hitbox-min-w, 44px);
    min-height: var(--hitbox-min-h, 44px);
    pointer-events: all;
    z-index: 99;
    border-radius: 5px;
    /* background: rgba(255, 0, 0, 0.1); */
    @if var(--touch-hitbox-debug) {
      background: rgba(255, 0, 0, 0.1);
    }
  }
}

@utility song-touch-hitbox {
  --hitbox-min-w: 28px;
  --hitbox-min-h: 28px;
}

@utility download-touch-hitbox {
  --hitbox-min-w: 80px;
  --hitbox-min-h: 30px;
}
