@import "tailwindcss";
@import "../styles/utilities.css";
@import "../styles/range.css";

:root {
  --background: #ffffff;
  --foreground: #000000;
  /* --- */
  --touch-hitbox-size: 44px;
  --touch-hitbox-debug: false;
  /* --- */
  --titlebar-height: 40px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono), monospace;
}